@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body.lock {
  overflow: hidden;
}

.wrapper {
  font-family: "Quicksand";
  font-weight: 700;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.box {
  width: 1108px;
  margin: 0 auto;
  padding: 0 10px;
}

/*zeroing*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  outline: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.full-screen {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../img/header/01.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 500px;
}

.arrow-left {
  margin-right: 6px;
}

.header {
  background-color: #2b5081;
  height: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 7;
}

.menu {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 64px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 53px;
          flex: 0 0 53px;
  height: 40px;
}

.menu__logo img {
  max-width: 100%;
}

.menu__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__cart {
  margin-left: 54px;
}

.menu__burger {
  display: none;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list li {
  margin-left: 53px;
}

.menu__link {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.firstSc {
  padding-top: 230px;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.firstSc__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10%;
}

.firstSc__title {
  display: inline-block;
  font-size: calc(30px + 30 * ((100vw - 320px) / 1120));
  margin-bottom: 14px;
  text-align: center;
  padding: 0 10px;
}

.firstSc__subtitle {
  width: 586px;
  display: inline-block;
  font-size: 20px;
  text-align: center;
}

.firstSc__arrow {
  position: absolute;
  z-index: 2;
  bottom: 47px;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
}

.filter {
  background-color: #f5f6f7;
  height: 143px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filter__checks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter__check {
  margin-left: 40px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}

.filter__check:first-child {
  margin-left: 0;
}

.filter__label {
  padding-left: 44px;
  text-transform: uppercase;
  color: #333;
  cursor: pointer;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter__label.checked .fake-checkbox {
  background-image: url("../img/filter/03.svg");
}

.filter__label.checked .fake-checkbox:after {
  opacity: 1;
}

.filter__checkbox {
  position: absolute;
  opacity: 0;
}

.filter__btn {
  width: 204px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #aa9b77;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.fake-checkbox {
  position: absolute;
  top: 0;
  margin-left: -44px;
  display: inline-block;
  width: 25px;
  height: 24px;
  background-image: url("../img/filter/01.svg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: all 0.05s linear;
  -o-transition: all 0.05s linear;
  transition: all 0.05s linear;
}

.fake-checkbox:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 12px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: inline-block;
  background-image: url("../img/filter/02.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0;
  -webkit-transition: all 0.05s linear;
  -o-transition: all 0.05s linear;
  transition: all 0.05s linear;
}

.products__section {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.products__slider {
  width: 100%;
  overflow: hidden;
}

.products__slider-line {
  position: relative;
  width: 28000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0px;
  -webkit-transition: all 0.6s linear;
  -o-transition: all 0.6s linear;
  transition: all 0.6s linear;
}

.products .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.products .box .products__section::first-child {
  padding-bottom: 0;
}

.products__slider {
  width: 100%;
  overflow: hidden;
}

.item-prod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 87px;
}

.item-prod__title {
  color: #424242;
  font-size: 20px;
  text-transform: uppercase;
  display: inline;
  position: relative;
  margin-bottom: 55px;
}

.item-prod__title:after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 91px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  height: 2px;
  width: 996px;
  background-color: #ccc;
}

.item-prod__toggle {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.item-prod__number {
  font-size: 16px;
  color: #aa9b77;
  letter-spacing: 3px;
  margin-bottom: 7px;
}

.item-prod__number span {
  letter-spacing: 3px;
}

.item-prod__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 17px;
}

.item-prod__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1088px;
  margin-left: 64px;
}

.item-prod__items:first-child {
  margin-left: 0;
}

.item-prod__item {
  -webkit-box-sizing: padding-box;
          box-sizing: padding-box;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 320px;
          flex: 0 1 320px;
  height: 378px;
  background-color: #f5f6f7;
  padding: 24px 19px;
}

.card-prod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 64px;
}

.card-prod:first-child {
  margin-left: 0;
}

.card-prod *:last-child {
  margin-bottom: 0;
}

.card-prod__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
}

.card-prod__header {
  height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-prod__size {
  color: #424242;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  padding-right: 5px;
}

.card-prod__size.active:after {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  top: 4px;
  left: 100%;
}

.card-prod__size:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 8px;
  top: 50%;
  right: 0;
  -webkit-transform: translate(100%, -50%);
      -ms-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
  background-image: url(../img/products/item/02.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 3;
}

.card-prod__allsize {
  position: absolute;
  top: 20px;
  left: 0;
  min-width: 35px;
  background-color: #535253;
  color: #f5f6f7;
  text-align: center;
  display: none;
  padding: 3px 3px;
}

.card-prod__allsize.active {
  display: block;
}

.card-prod__allsize li {
  margin-bottom: 5px;
}

.card-prod__allsize li:last-child {
  margin-bottom: 0;
}

.card-prod__colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-prod__color {
  margin-left: 6px;
  width: 22px;
  height: 21px;
  border-radius: 50%;
}

.card-prod__color img {
  max-width: 100%;
  height: auto;
}

.card-prod__img {
  width: 146px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0 auto;
  z-index: 2;
}

.card-prod__img img {
  max-width: 100%;
  height: auto;
}

.card-prod__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-prod__name {
  color: #aa9b77;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
}

.card-prod__price {
  color: #424242;
  font-size: 22px;
}

.card-prod__price span {
  font-weight: 300;
  font-family: "Open Sans";
}

.size-backpack:after {
  display: none;
}

.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 131px;
}

.close {
  display: none;
}

.title-woman {
  position: relative;
  right: -100%;
  -webkit-transform: translate(-80px, 0);
      -ms-transform: translate(-80px, 0);
          transform: translate(-80px, 0);
}

.title-woman:after {
  left: -92.5%;
}

.about {
  background-color: #aa9b77;
  padding: 81px 0 71px;
}

.about__title {
  color: #837659;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 73px;
  position: relative;
  top: -10px;
}

.about__title:after,
.about__title:before {
  content: '';
  position: absolute;
  top: 50%;
  height: 2px;
  width: 292px;
  background-color: #918363;
}

.about__title:after {
  margin-left: 13px;
}

.about__title:before {
  margin-left: -13px;
  -webkit-transform: translate(-100%, -50%);
      -ms-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}

.about__text {
  line-height: 1.5;
  color: #424242;
  font-size: 16px;
  text-align: center;
  width: 469px;
}

.box-about {
  width: 712px;
  border-bottom: 2px solid #918363;
  border-left: 2px solid #918363;
  border-right: 2px solid #918363;
  padding-bottom: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.some {
  background-color: #535253;
}

.some__img {
  width: 29px;
  height: 24px;
}

.some__img img {
  max-width: 100%;
  height: auto;
}

.some__text {
  font-size: 16px;
  margin-left: 20px;
  color: #fff;
}

.some-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 72px;
  width: 1152px;
}

.footer {
  background-color: #424242;
  line-height: 2;
  color: #fff;
  padding: 109px 0;
}

.footer__title {
  font-size: 20px;
  margin-bottom: 15px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__content *:last-child {
  margin-bottom: 0;
}

.footer__left {
  font-size: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 306px;
          flex: 0 0 306px;
}

.footer__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
}

.footer__info {
  text-transform: uppercase;
  font-size: 14px;
}

.footer__design {
  font-size: 18px;
  line-height: 1.56;
}

.footer-box {
  width: 1152px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px;
}

.footer-box *:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 992px) {
  .menu__link:hover {
    text-decoration: underline;
  }

  .firstSc__arrow:hover {
    bottom: 53px;
  }

  .filter__btn:hover {
    background-color: #9f8e66;
  }

  .item-prod__arrow {
    cursor: pointer;
  }

  .item-prod__item:hover {
    border: solid 6px #aa9b77;
    padding: 18px 13px;
  }

  .card-prod__size {
    cursor: pointer;
  }

  .card-prod__size:hover {
    color: orangered;
  }

  .card-prod__size:hover:after {
    fill: orangered;
  }

  .card-prod__size:after {
    cursor: pointer;
  }

  .card-prod__allsize li:hover {
    color: #ff7777;
  }

  .card-prod__color {
    cursor: pointer;
  }

  .card-prod__color:hover {
    border: 1.5px solid #f5f6f7;
  }

  .card-prod__img:hover {
    cursor: pointer;
  }

  .card-prod__name:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

@media screen and (max-width: 1400px) {
  .firstSc {
    padding-top: 200px;
  }
}

@media screen and (max-width: 1200px) {
  .title-woman:after {
    width: 700px;
    left: -90%;
  }
}

@media screen and (max-width: 1153px) {
  .footer-box {
    width: 100%;
  }
}

@media screen and (max-width: 1120px) {
  .products .box {
    width: 900px;
  }

  .item-prod {
    margin-top: 70px;
  }

  .item-prod__title:after {
    width: 700px;
  }

  .item-prod__items {
    margin-left: 20px;
    width: 880px;
  }

  .item-prod__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 280px;
            flex: 0 0 280px;
    height: 320px;
    padding: 18px 15px;
  }

  .card-prod {
    margin-left: 20px;
  }

  .card-prod__img {
    width: 90px;
  }
}

@media screen and (max-width: 992px) {
  .menu {
    padding: 0 40px;
  }

  .menu__list li {
    margin-left: 30px;
  }

  .firstSc__subtitle {
    font-size: 18px;
    width: 85%;
  }

  .open {
    padding-bottom: 100px;
  }

  .about {
    padding: 41px 0 40px;
  }

  .about__title {
    margin-bottom: 50px;
  }

  .box-about {
    padding-bottom: 50px;
  }

  .footer {
    padding: 70px 0;
  }
}

@media screen and (max-width: 900px) {
  .products .box {
    width: 600px;
  }

  .products__slider {
    width: 580px;
  }

  .item-prod {
    width: 100%;
    margin-top: 50px;
  }

  .item-prod__title {
    text-align: center;
    margin-bottom: 0px;
  }

  .item-prod__title:after {
    display: none;
  }

  .title-woman {
    right: 0;
    position: static;
    text-align: center;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .title-woman:after {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header {
    height: 80px;
  }

  .menu {
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    padding: 0 30px;
  }

  .menu__cart {
    margin-right: 60px;
  }

  .menu__burger {
    display: block;
    position: absolute;
    width: 30px;
    height: 20px;
    top: 30px;
    right: 20px;
    z-index: 6;
  }

  .menu__burger span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }

  .menu__burger span:first-child {
    top: 0;
    -webkit-transition: -webkit-transform 0.4s linear;
    transition: -webkit-transform 0.4s linear;
    -o-transition: transform 0.4s linear;
    transition: transform 0.4s linear;
    transition: transform 0.4s linear, -webkit-transform 0.4s linear;
  }

  .menu__burger span:nth-child(2) {
    top: 47%;
  }

  .menu__burger span:last-child {
    bottom: 0;
    -webkit-transition: -webkit-transform 0.4s linear;
    transition: -webkit-transform 0.4s linear;
    -o-transition: transform 0.4s linear;
    transition: transform 0.4s linear;
    transition: transform 0.4s linear, -webkit-transform 0.4s linear;
  }

  .menu__burger.active span:first-child {
    top: 47%;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .menu__burger.active span:nth-child(2) {
    display: none;
  }

  .menu__burger.active span:last-child {
    top: 47%;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #424242;
    left: -200%;
    -webkit-transition: all 0.6s linear;
    -o-transition: all 0.6s linear;
    transition: all 0.6s linear;
    z-index: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .menu__nav.active {
    left: 0;
    overflow: auto;
  }

  .menu__list {
    margin-top: 50px;
  }

  .menu__list li {
    margin-top: 30px;
    margin-left: 0;
    text-align: center;
  }

  .menu__list {
    display: block;
  }

  .menu__link {
    font-size: 33px;
  }

  .firstSc {
    padding-top: 200px;
  }

  .firstSc__arrow {
    bottom: 35px;
  }

  .filter {
    height: 120px;
  }

  .filter__check {
    margin-left: 30px;
  }

  .filter__btn {
    width: 184px;
    height: 42px;
  }

  .open {
    padding-bottom: 70px;
  }

  .about {
    padding: 30px 0 30px;
  }

  .about__title {
    margin-bottom: 20px;
    top: 0;
  }

  .about__title:after,
  .about__title:before {
    display: none;
  }

  .box-about {
    width: 400px;
    border: none;
    padding-bottom: 0;
  }

  .footer {
    padding: 30px 0;
  }

  .footer__title {
    margin-bottom: 10px;
    text-align: center;
  }

  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__left {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin-bottom: 30px;
    width: 300px;
  }

  .footer__right {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 300px;
  }
}

@media screen and (max-width: 768px) and (max-width: 480px) {
  .menu__burger {
    top: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .firstSc__title {
    font-size: calc(30px + 9 * ((100vw - 320px) / 1120));
  }
}

@media screen and (max-width: 630px) {
  .filter .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 100%;
  }

  .filter__checks {
    padding-top: 10px;
  }

  .filter__check {
    margin-left: 23px;
  }

  .filter__label {
    padding-left: 34px;
    font-size: 12px;
  }

  .fake-checkbox {
    margin-left: -34px;
  }
}

@media screen and (max-width: 620px) {
  .products .box {
    width: 300px;
  }

  .products__slider {
    width: 280px;
  }

  .item-prod__number {
    margin-right: -6px;
  }

  .item-prod__arrows {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media screen and (max-width: 520px) {
  .about__text {
    width: 100%;
    font-size: 14px;
  }

  .box-about {
    width: 400px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    height: 70px;
  }

  .menu {
    padding: 0 10px;
  }

  .menu__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
    height: auto;
  }

  .menu__cart {
    margin-right: 70px;
  }

  .menu__burger {
    top: 25px;
  }

  .firstSc__arrow {
    bottom: 30px;
  }

  .item-prod {
    margin-top: 30px;
  }

  .open {
    padding-bottom: 30px;
  }

  .about__title {
    margin-bottom: 15px;
  }

  .some__img {
    width: 25px;
  }

  .some__text {
    margin-left: 13px;
    font-size: 15px;
  }

  .some-box {
    height: 60px;
  }

  .footer {
    padding: 15px 0;
  }

  .footer__title {
    margin-bottom: 0;
  }

  .footer__left {
    width: 280px;
    margin-bottom: 15px;
  }

  .footer__right {
    width: 280px;
  }

  .footer-box {
    padding: 0 10px;
  }
}

@media screen and (max-width: 420px) {
  .box-about {
    width: 320px;
  }
}